* {
  box-sizing: border-box;
  transition: 0.3s background-color ease, 0.3s color ease;
}

button {
  cursor: pointer;
  border-radius: 0.5em;
  border: none;
  outline: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  text-transform: uppercase;
  vertical-align: middle;
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
  background-color: #eeeeee;
  color: #333333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.dark button,
.dark .infobox {
  background-color: #232528;
  color: #ffffff;
}

.dark button:hover {
  background-color: #2e3235;
}

button:hover {
  background-color: #dddddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

button:active {
  background-color: #cccccc;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05);
}

button .material-icons {
  margin-right: 0.25em;
  font-size: 1em;
}

button.primary {
  background-color: #304ffe;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  transition: 0.3s background-color ease, 0.3s box-shadow ease;
}

button.primary:hover {
  background-color: #0228fd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

button.primary:active {
  background-color: #0120d2;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}

.dark button.primary {
  background-color: #001acd;
}

.dark button.primary:hover {
  background-color: #0020ee;
}

.dark button.primary:active {
  background-color: #0120d2;
}

button.small {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.infobox {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.infobox > caption {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  text-align: left;
}

.infobox > div {
  align-self: flex-end;
  text-align: right;
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Courier New", Courier, monospace;
}

.infobox > div span {
  font-size: 0.75rem;
}

.spacer {
  flex: 1;
}

.horizontal-group {
  display: flex;
}

.horizontal-group > * {
  flex: 1;
  margin: 0.5em;
}

.horizontal-group > *:first-child {
  margin-left: 0rem;
}

.horizontal-group > *:last-child {
  margin-right: 0rem;
}

body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  user-select: none;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  background-image: url("../images/background.jpg");
  background-size: cover;
  transition: 0.3s;
}

body.dark::after {
  background-color: #000000;
  filter: invert(100%) brightness(30%);
}

#app {
  z-index: 1;
  border-radius: 2rem;
  width: auto;
  background-color: #ffffff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(0, 0, 0, 0.025),
    0 0.9375rem 1.40625rem rgba(0, 0, 0, 0.025),
    0 0.25rem 0.53125rem rgba(0, 0, 0, 0.03),
    0 0.125rem 0.1875rem rgba(0, 0, 0, 0.025);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dark #app {
  background-color: #17191a;
  color: #ebe5dd;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  padding-bottom: 0.75rem;
}

header {
  margin-bottom: 1rem;
}

header h1 {
  font-size: 2.75rem;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.5rem;
}

header h3 {
  font-size: 1.5rem;
  line-height: 1em;
  margin: 0;
}

main h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #555555;
  margin: 0;
  margin-top: 0.75em;
}

.dark main h5 {
  color: rgb(209, 201, 189);
}

#footer-actions {
  align-self: flex-end;
}

#visualization {
  align-self: center;
  background-color: #eeeeee;
  margin: 2rem;
  margin-top: 0;
  border-radius: 1rem;
  width: 75vw;
  height: 75vw;
}

.dark #visualization {
  background-color: #232528;
}

canvas {
  width: 75vw;
  height: 75vw;
  border-radius: 1rem;
  box-shadow: inset 0 0.234375rem 1.09375rem rgba(0, 0, 0, 0.025),
    inset 0 0.46875rem 0.703125rem rgba(0, 0, 0, 0.025),
    inset 0 0.125rem 0.265625rem rgba(0, 0, 0, 0.03),
    inset 0 0.0625rem 0.09375rem rgba(0, 0, 0, 0.025);
}

@media (orientation: landscape) and (min-width: 786px) {
  body {
    padding: 2rem;
  }

  #app {
    flex-direction: row-reverse;
  }

  main {
    padding: 2rem;
    padding-left: 1.25rem;
  }

  #visualization {
    margin: 2rem;
    margin-right: 0;
    width: 75vh;
    height: 75vh;
  }

  canvas {
    width: 75vh;
    height: 75vh;
  }
}
